*{
    color: black;
    font-family: Arial;
    size: 0.9em;
    list-style: none;
}

body{
    margin: auto;
    width: 80%;
    padding: 20px 40px;

}

main{
    display:flex;
    
}
main section{
    margin: 10px;
}

.articulo{
    color: #CC6600; 
}

.articulo p{
    margin: 0.3em 0; 
}

.articulo h2{
    color: #CC6600;
    font-size: 1.6em;
    margin-bottom: 0.3em;
    line-height: 1.2;
}


#menu{
    width: 100%;
    height: 40px;
    background-image: url(https://tphpxa.by.files.1drv.com/y4mvuwiyi8hP23DOZ_0YQnEbPAgoIlXi7sNCjnGEXInhxtbfaT0p8Pe3ijnLpVSgkwXASX_qlc6driKA95daXisWfw-naU2q-qMEYZz1TC_SnLCoLCyMlF2eexL2AnhzN3SPKcor_jTaHDZL6p1ClmxAWDad0P8ZFuMif8bqt4GbZYOWRfFrWHJpsP_knpP-ogL47mgXcYOd1j2o1mzMhB6ew);
    background-size: cover;
    font-size: 1.3em;
    margin-bottom: 10px;
}

#menu a{
    color: white;
}

#menu ul{
    display: flex;
   justify-content: space-around;
   align-items: center;
  

}

#menu ul li{
    margin: 5px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lateral{
    font-size: 0.9em;

}
#lateral a, main a{
    color: blue;
}

#noticias{
    background-color: #d3caca;
    width: 150px;
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
    border: solid 1px;
}
#publicidad{
    background-color: rgb(225, 190, 63);
    width: 150px;
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
}

#noticias h3{
    color: #003366;
}


#publicidad{
    color:#555;
    border-style:dashed;
}
#publicidad a {
    color:#CC6600;
}

#pie ul{
    display: flex;
   justify-content: space-around;
   list-style: none;

}

#pie ul li{
    margin-right: 20px;

}

#pie p{
    margin-right: 20px;
}

#pie{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d3caca;
}

#pie a{
    color: #166fc8d1;
}

#secundario{
    height: 100%;
    border: solid 1px;
    
}

#secundario section{
    width: 200px;
    padding: 10px;
    height: auto;
}

#secundario div{
    width: 100%;
    height: 50px;
    text-align: justify;
    background-color: #CC6600;
    box-shadow: 0 4px 4px 0  red;

}


#secundario section h2{
    padding: 10px;
}

article{
    padding: 10px;
    display: inline-block;
    gap: 10px;
}
article img{
    width: 320px;
    float: left;
    margin-right: 10px;
}
article section{
    margin-bottom: 10px;
}


