#titulo{
    color: rgb(9, 110, 78);
}

#adicional{
    color: rgb(85, 107, 47);
}

table{
    border-color: black;
    border-collapse: collapse;
}


#adicional a{
    color: green;
}

#especial{
    color: rgb(248, 0, 132);
}


#titulo ~ p strong,h2 ~ p a {
    color: red;
}

#titulo ~ p strong + span, thead th{
    color: rgb(255, 187, 0);
}

h2 ~ p a em, #subtitulo, caption{
    color: blue;
}


tbody tr th, tbody tr td strong{
    color:rgb(255, 187, 0);
}

tbody tr td{
    color:rgb(66, 132, 38);
}

tfoot tr th{
    color: red;
}

a + span{
    color: purple;
}


