
:root{
   --orange-minimalist--: #D9B080;
    --blue-minimalist--: #1A3284;
    --yellow-minimalist--: #D6CA77;
    --blue-aqua-minimalist--: #2971BF;
    --aqua-minimalist--: #57BED1;
}

html {
    font-size: 62.5%;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
  }

  .fondo-animado, .sombra{
    display: none;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  
}


body{
    position: relative;
}

.icon-search, .search-bar{
    width: 50px;
    height: 50px;
    background-color: rgb(7, 104, 248);
    border-radius: 50%;
    position: fixed;
    z-index: 4;
    bottom: 50px;
    right: 5%;
    border: 1px solid black;
}
.icon-search{
    pointer-events: none;
}
.search-bar{
    opacity: 0;
}

.icon-search img:hover{
    width: 60px;
    height: 60px;
    border: 1px solid yellow;
}

.search-bar-appeard{
    padding: 20px;
    bottom: 50px;
    right: 20%;
    border: 1px solid black;
    display: none;
    z-index: 4;
    position: fixed;
    width: 70%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;

}
.search-bar:checked ~ .search-bar-appeard{
    display: block;
}


.icon-search img{
    height: 50px;
    padding: 10px;
}

.Segmento-uno{
    display: grid;
    grid-template-columns: 5% repeat(12,1fr) 5%;
    grid-template-rows: auto
}



header, nav{
    grid-column: 2/14;
    grid-row: 1/2;
}


header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    ::-webkit-scrollbar{
       background-color: white;
       border-radius: 30px;
       width: 10px;
    }
    ::-webkit-scrollbar-thumb{
        border-radius: 30px;
        background: linear-gradient(var(--orange-minimalist--), var(--yellow-minimalist--));
    }

    nav{
        padding-top: 1rem;
        position: relative;
    }
   
    .right-menu img{
        justify-self: flex-start;
        width: 10rem;
    }

    

.hero{
    z-index: 0;
    background-image: url(https://christiancelis.github.io/WebCampus/Proyecto/assets/hero-backgroung.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 1px 0 black;
    height: 60vh;
    margin-top:10px ;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-column: 2/14;
    grid-row: 2/10;
    border-radius: 40px;
    translate: 0px 2px ;
    transition: 0.2s ease-in ;
    filter: drop-shadow(0px 0px 10px 10px);
    filter:brightness(90%);
}



    .hero-dos{
        display: none;
    }


    .hero div span{
        color: var(--orange-minimalist--);
        font-size: 5rem;
        font-weight: 700;
    }

    .hero div p{
        color: white;
        font-size: 5rem;
        font-weight: 400;
    }

    .hero button{
        margin-top: 10px;
        width: 90%;
        height: 60px;
        border-radius: 30px;
        background-color: var(--yellow-minimalist--);
        font-weight: 700;
        font-size: 2rem;
        color: var(--blue-minimalist--);
    }

    .hero:hover{
        translate: 0px -2px ;
        transition: 0.3s ease-in ;
    }

    .image-slider{
        margin: 20px 0;
        display: grid;
        grid-template-columns: 5% repeat(12,1fr) 5%;
    }

    .content-slider{
        grid-column: 2/14;
        padding: 10px;
        position: relative;
        width: 100%;
        margin: 0 auto;
        
    }

    .img-content{
        display: flex;
        aspect-ratio: 16/9;
        overflow-x: auto;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        border-radius: 3rem;
    }

    .img-content::-webkit-scrollbar-track-piece{
        background-color: rgba(233, 220, 220, 0);
    }

    .img-content::-webkit-scrollbar {
        display: none;
    }
    .img-content img{
       flex: 1 0 100%;
       object-fit: cover;
       scroll-snap-align: start;
    }

    .nav-slide{
        display: flex;
        column-gap: 1rem;
        position: absolute;
        bottom: 2.25rem;
        left: 50%;
        transform: translate(-50%);
        z-index: 1;
    }

    .nav-slide a{
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: #ffffff;
        opacity: 70%;
        transition: opacity ease 250ms;
    }


    .nav-slide a:hover{
        opacity: 100%;
    }

    
     .perf{
        margin-top: 40px;
        grid-column: 2/14;
    }

    .perf h1{
        color: var(--blue-minimalist--);
        font-weight: 700;
        font-size: 4rem;
        text-align: center;
        margin-bottom: 40px;
    }

    .perf span{
        font-weight: 700;
        color: var(--orange-minimalist--);
    }

    .perf section{
        margin: 60px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 20px;
    }

    .perf p{
        width: 30%;
        grid-column: 2/14;
        font-weight: 200;
        font-size: 2rem;
    }
    
    .perf section img{ 
        grid-column: 2/14;
        width:50%;
        object-fit: cover;
    }

    .Segmento-dos .dos{    
        background-color: var(--yellow-minimalist--);
    }

    .seguridad{
        grid-column: 2/14;
        grid-row: 3/10;
        font-size: 2rem;
        font-weight: 100;
        color: rgb(232, 232, 222);
    }
    .seguridad span{
        font-weight: 700;
        color: var(--orange-minimalist--);
    }
    .seguridad section{
        grid-column: 2/14;
        margin: 50px 0 0 0;
        background-color: var(--blue-minimalist--);
        margin-bottom: 20px;
        border-radius: 30px;
        padding: 40px 20px 40px 20px;
        text-align: center;
        filter: drop-shadow(0px 0px 10px 10px);
    }
    
    .caja{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 10px 20px 10px;
    }

    .iuno{
        width: 9rem !important;
    }

    .caja .iuno, .idos, .itres{
        width: 7rem;
       position: absolute;
       top: 1%;
    }
    
    .tres{
        display: grid;
        grid-template-columns: 5% repeat(12,1fr) 5%;
        grid-template-rows: auto
    }

    .partners{
        margin-bottom: 30px;
        grid-column: 1/15;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .partners h1{
        font-size: 3rem;
        color:var(--blue-minimalist--);
    }


  .slide{
    margin-top: 20px;
    animation: 1s ease-out;
    overflow-x: hidden;
    width: auto;
    height: 200px;
    padding: 30px 0;
    margin-bottom: 3rem;
    display: flex;
    justify-content: flex-start;
  }

  .slide ul{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-left: 40px;
    animation: 6s slide infinite linear ;
}
.slide ul li{
    width: 25vh;
}

  .slide img{
    width: 90px;
    margin: 0 9px;
  }

  .slide:hover >ul{
    animation-play-state: paused;
  }

  @keyframes slide {
    from{
     transform:translateX(0)
    }
    to{
        transform:translateX(-100%)
    }
  }

  .cuatro{
    margin: 10px;
    display: grid;
    grid-template-columns: 5% repeat(12,1fr) 5%;
    grid-template-rows: auto
  }

  .cont-cuatro{
    display: flex;
    flex-direction: column;
    grid-column: 2/14;
    gap: 20px;
  }

  .cont-cuatro h1{
    font-size: 2rem;
  }

  .footer-center div{
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
  }

  .footer-center div li{
    margin: 10px;
    font-size: 1.4rem;
  }

  .redes-sociales ul{
    display: flex;
  }
  .redes-sociales ul li{
    margin-top: 20px;
    width: 100%;
  }
  .logo-footer img{
    width: 13rem;
  }
  .redes-sociales img{
    width: 30px;
  }

  .derechos{
   text-align: center;
   padding: 6px;
    height: 30px;
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  .derechos span{
    color: var(--blue-minimalist--);
    font-weight: 700;
}

.titulo-carrousel{
    text-align: center;
    margin: 70px 0;
    font-size: 3.2rem;
    color: var(--blue-minimalist--);
}


@media (width<=768px){

    .center-menu li{
        padding:20px;
    }

    [class="icheck"]:checked ~ .center-menu a{
        border: 1px solid black;
        padding: 20px;
        font-size: 2rem;
        background-color: white;
    }
        
    [class="icheck"]:checked ~ .center-menu{
        display: block;
        width: 300px;
        background-color: transparent;
        transition: all 20ms ease-in-out ;
    }
    
    .icheck{
        opacity:0;
    }
    
    .icheck:checked ~ .abrir{
        transition: all 50ms ease-in-out ;
        opacity: 0;
    }
    .icheck~ .cerrar{
        opacity: 0;
    }
    .icheck:checked ~ .cerrar{
        transition: all 50ms ease-in-out ;
        opacity: 100;
    }
    
    .icheck,.check-icon{
        width: 30px;
        height: 30px;
    }
    
    .check-icon{
        position: absolute;
        pointer-events: none;
    }
    .center-menu{
        display: none;
        top: 60px;
        position: absolute;
        z-index: 3;
    }

    .seguridad  .caja{
        margin:auto 0px;
        width: 100%;
    }


    article.seguridad{
        padding: 0px;
        margin: 0px;
    }




    .perf section{
        flex-direction: column;
    }
    .perf section p{
        width: 100%;
    }
    .perf section img{
        width: 100%;
    }

    .perf section:nth-child(2) p{
        order: 1;
    }
    .perf section:nth-child(4) p{
        order: 1;
    }
}

@media (width>=768px){

    .nav-slide a{
        width: 30px;
        height: 30px;
        margin: 20px;
    }


    .perf section{
        justify-content: center;
    }

    .perf p{
        color: white;
        border: 1px solid;
        text-align: center;
        padding: 30px;
        margin: 0;
        background-color: grey;
        font-size: 3rem;
    }

    .seguridad{
        grid-column: 2/14;
       }

    .icheck , .abrir, .cerrar{
        display: none;
    }

    .center-menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .center-menu li{
        padding-left: 50px;
        font-size: 1.6rem;
    }

    .center-menu a{
        color: black;
    }

    .center-menu a:hover{
        padding: 10px;
        color: var(--blue-minimalist--);
        font-weight: 700;
        border: 1px solid var(--blue-minimalist--);
    }

      .right-menu img{
        justify-self: flex-start;
        width: 14rem;
    }



    .hero{
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 0;
        margin: 0;
        gap:20px;
        z-index: 0;
        background: none;
        box-shadow: 0 0 0;
    }

    .hero-uno{
        padding: 30px;
        margin-top:10px ;
        display: flex;
        justify-content:center;
        flex-direction: column;
        align-items: flex-start;
    }


    .hero section p{
        color: rgb(132, 124, 124);
        font-weight: 300;
        font-size: 4rem;
    }

    .hero section span{
        font-size: 5rem;
    }

    .hero button{
        background-color: var(--yellow-minimalist--);
    }

    .hero-uno button a{
        color: rgb(255, 255, 255);
    }

    .hero-dos{
        width: auto;
        display: block;
    }

    .hero-dos img{
        width: 400px;
    }
    
    .seguridad{
        display: flex;
        margin: 50px 0;
    }

    .Segmento-dos .dos{
        background-color: #1A3284;
    }


    svg{
        display: none;
    }



    .logo-footer{
       display: flex;
       justify-content: center;
    }
    .cont-cuatro{
        grid-column: 1/-1;
        gap:30px;
    }

    .cont-cuatro div{
        margin: 2px;
        padding: 4px;
    }
    
    .footer-center h1{
        text-align:left;
    }

    .footer-center{
        display: flex;
        justify-content: space-evenly;
    }
    .footer-center div{
        border: none;
    }

    .cuatro{
        background: #2971BF;
        color: aliceblue;
        margin: 0px;
    }
    .derechos{
        height: 50px;
        background-color: var(--yellow-minimalist--);
    }
    .derechos p{
        text-align: center;
        padding: 10px 0px;
        color: black;
    }
    .slide ul{
        padding-left: 10px;
    }
       
    
    .slide ul li{
       width: 40vh;
    }
    
    .slide img{
        width: 100px;
        margin: 0 9px;
    }

}

@media (width>=1280px){
    .perfo{
        background-color: cornsilk;
    }


    .perf section{
        justify-content: center;
        align-items: center;
        height: 60vh;
        
    }

    .perf  h1{
        font-size: 8rem;
    }

    .perf section img{
        width: 40%;
    }
    .perf p span{
        font-size:5rem ;
        color: #2971BF;
    }

    .perf p{
        border: none;
        font-size: 3rem;
        margin: 20vh auto;
        background-color: cornsilk ;
        color: black;
    }



    .Segmento-uno header{
        position: sticky;
    }


    .fondo-animado, .sombra{
        display: block;
    }

    .sombra{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: rgb(0, 0, 0, 0.5);
        mix-blend-mode: overlay;

    }


   .fondo-animado{
        width: 100%;
        height: 100%;
        z-index: -2;
        position: absolute;
        object-fit: cover;
        border-radius: 20px;
    }

    nav a{
        font-size: 1.6rem;
    }
    .hero-uno{
        border: none;
        justify-content: center;
        align-items: center;
    }

    .hero-dos{
        display: none;
    }

    .hero{
        position: relative;
        height: 90vh;
        border-radius: 10px 0;
        grid-column: 1/-1;
        background-image: url(/assets/hero-video.mp4);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero-uno button{
        background-color: rgba(255, 255, 255, 0);
        margin-top: 30px;
    }

    .hero-uno button:hover{
        background-color: rgb(255, 225, 29);

    }

    .hero-uno button a{
       color: rgb(255, 255, 0);
        font-size: 2.5rem;
    }

    .hero-uno button a:hover{
        color: aliceblue;
    }

    .hero-uno div p span{
        color: var(--blue-minimalist--);
        font-size: 13rem;
    }
    .hero-uno div p{
        color: rgb(0, 0, 0);
        font-size: 5rem;
        font-weight: 200;
    }

    .image-slider{
        width: 60%;
        margin: 70px auto;
    }

    .partners h1{
        font-size: 6rem;
    }

    .titulo-carrousel{
        font-size: 7rem;
    }

}
